.form-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.order-form {
    width: 490px;
    background-color: #fff;
    padding: 25px 0 25px 0;
}

.order-fieldset-container{
    width: 317px;
    margin: 0 auto;
}

.order-input {
    height: 51px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    width: 317px;
    background-color: #fff;
}

.order-input-short {
    width: 233px;
}

.order-label {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}


#screen2, #screen3, #screen4 {
    display: none;
}

.flex-container-for-field {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.unit {
    width: 84px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    margin-bottom: 15px;
}

.order-checkbox {
    height: 17px;
    width: 17px;
}

.check-mark {
    height: 51px;
    width: 40px;
    position: absolute;
    right: -40px;
    color: green;
    display: none;
    font-size: 20px;
    padding: 10px;
}

.input-error-description {
    height: 15px;
    color: red;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 0;
}

.order-sum-container {
    color: #323232;
    font-size: 24px;
    font-weight: 400;
    margin: 27px 0 25px;
}

.fa-ruble-sign {
    font-size: 20px;
}

.red-text {
    color: #a10031;;
}

.button-forward {
    width: 130px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    display: block;
    position: relative;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.15), inset 0 0 0 250px rgba(255, 255, 255, 0.04);
    border: 1.5px solid rgba(60, 65, 71, 0.4);
    border-right: none;
    background-color: #818183;
}

.button-forward-active {
    border: 1.5px solid rgba(100, 125, 150, 0.4);
    background-color: #3486eb;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.button-forward:after {
    content: "";
    width: 36px;
    height: 36px;
    border: 1.5px solid rgba(60, 65, 71, 0.4);
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.15), inset 0 0 0 250px rgba(255, 255, 255, 0.04);*/
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    background-color: #858587;
    position: absolute;
    top: 6px;
    right: -18px;
}

.button-forward-active:after {
    border: 1.5px solid rgba(100, 125, 150, 0.4);
    border-left: none;
    border-bottom: none;
    background-color: #3486eb;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.15) 100%);
    right: -20px;
}

#button-return {
    position: absolute;
    top: 20px;
    text-decoration: underline;
}

.button-send {
    width: 230px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    display: block;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.15), inset 0 0 0 250px rgba(255, 255, 255, 0.04);
    border: 1.5px solid rgba(60, 65, 71, 0.4);
    border-right: none;
    background-color: #818183;
}

.error {
    border-color: red;
}

#screen4 {
    color: #323232;
    font-size: 16px;
}

.blue {
    color: #458ae1;
}

#screen4 h2 {
    font-size: 30px;
    font-weight: 400;
}

#screen2-order-description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}