.form-container {
    width: 800px;
    margin: 0 auto;
    background-color: #eee;
    height: 900px;
    display: flex;
    justify-content: center;
}

.order-form {
    width: 490px;
    background-color: #fff;
}

.order-input {
    height: 51px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    width: 317px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(128, 128, 128, 0.05) 100%);
}

.order-input-short {
    width: 233px;
}

.order-label {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}

#screen1 {
    width: 317px;
    margin: 0 auto;
}

#screen2 {
    width: 317px;
    margin: 0 auto;
}

.flex-container-for-field {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.unit {
    width: 84px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    margin-bottom: 25px;
}

.order-checkbox {
    height: 17px;
    width: 17px;
}

.check-mark {
    height: 51px;
    width: 40px;
    background-color: #ccf;
    position: absolute;
    right: -40px;
}

.input-error-description {
    height: 15px;
    background-color: #cfc;
}

.form-group {
    margin-bottom: 0;
}

.order-sum-container {
    color: #323232;
    font-size: 24px;
    font-weight: 400;
}

.fa-ruble-sign {
    font-size: 20px;
}

.red-text {
    color: #a10031;;
}