.form-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.order-form {
    width: 490px;
    background-color: #fff;
    padding: 25px 0 25px 0;
}

.order-fieldset-container{
    width: 317px;
    margin: 0 auto;
}

/*.order-fieldset {*/
/*    position: relative;*/
/*}*/

.order-input {
    height: 51px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    width: 317px;
}

.order-input-short {
    width: 233px;
}

.order-label {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}


#screen2, #screen3 {
    display: none;
}

.flex-container-for-field {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.unit {
    width: 84px;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    margin-bottom: 25px;
}

.order-checkbox {
    height: 17px;
    width: 17px;
}

.check-mark {
    height: 51px;
    width: 40px;
    position: absolute;
    right: -40px;
    color: green;
    display: none;
    font-size: 20px;
    padding: 10px;
}

.input-error-description {
    height: 15px;
    color: red;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 0;
}

.order-sum-container {
    color: #323232;
    font-size: 24px;
    font-weight: 400;
    margin: 27px 0 25px;
}

.fa-ruble-sign {
    font-size: 20px;
}

.red-text {
    color: #a10031;;
}

.button-forward {
    width: 152px;
}

#button-return {
    position: absolute;
    top: 20px;
    text-decoration: underline;
}

h2 {
    margin-bottom: 20px;
}

.button-send {
    width: 230px;
}